/* @import url('https://fonts.cdnfonts.com/css/futura-std-4'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocGrotesk:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs {
  position: sticky;
  top: 96px;
  background-color: white;
  z-index: 45;
  box-shadow: 0 4px 2px -2px rgb(247, 242, 242);
  background-color: white;
  padding: 5px 0;
}

body{
  font-family: 'Roc Grotesk', sans-serif;
}

.react-multiple-carousel__arrow{
  z-index: 10 !important;
}
.z-high {
  z-index: 100 !important;
}
.z-medium {
  z-index: 50 !important;
}
.pac-container {
  z-index: 9999 !important; /* Ensure it shows above everything */
  position: absolute !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.scrollbar-hide {
  scrollbar-width: none;
}